<div *ngIf="ticket">
  <div id="header-wrapper">
    <!-- Hero -->
    <section id="hero" class="container">
      <header>
        <h2>{{ticket.name}}</h2>
        <div>
          <label>Lokation af Begivenhed:
            <h2>{{ticket.location}}</h2>
          </label>
        </div>
        <div>
          <label>Dato for begivenhed:
            <h2>{{formattedDate}}</h2>
          </label>
        </div>
        <div>
          <label>Billetter tilbage:
            <h2>{{ticket.ticketsRemaining-ticket.ticketsReserved}}</h2>
          </label>
        </div>
        <div>
          <label>Pris:
            <h2>{{ticket.price}},-</h2>
          </label>
        </div>
      </header>
    </section>
  </div>
  <div style="margin: auto">
    <form (ngSubmit)="putInCart(ticket.id, noOfTickets, ticketConfirmationTemplate)">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" [(ngModel)]="noOfTickets" required min="1" max="50">
      <button type="submit" class="button">Bestil</button>
      <label *ngIf="noOfTickets > 50">You cannot buy more than 50 tickets!</label>
    </form>
  </div>

  <br><br>
  <pre class="card card-block card-header">{{message}}</pre>
  <ng-template #ticketConfirmationTemplate>
    <div class="modal-body text-center">
      <p>Din kurv er blevet opdateret:</p>
      <p>{{ticket.name}}</p>
      <p>{{noOfTickets}} ticket(s)</p>
      <p>Fulde pris {{ticket.price * noOfTickets}} DKK</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Okay</button>
    </div>
  </ng-template>

</div>
<div *ngIf="!ticket">
  <h2>Ticket not found.</h2>
</div>
