<div *ngIf="ticket">
  <div id="header-wrapper">
    <!-- Hero -->
    <section id="hero" class="container">
      <header>
        <h2>{{ticket.name}}</h2>
        <div>
          <label>Event location:
            <h2>{{ticket.location}}</h2>
          </label>
        </div>
        <div>
          <label>Event date:
            <h2>{{ticket.eventDate}}</h2>
          </label>
        </div>
        <div>
          <label>Tickets remaining:
            <h2>{{ticket.ticketsRemaining-ticket.ticketsReserved}}</h2>
          </label>
        </div>
        <div>
          <label>Price:
            <h2>{{ticket.price}},-</h2>
          </label>
        </div>
      </header>
    </section>

  </div>


</div>
<div *ngIf="!ticket">
  <h2>Ticket not found.</h2>
</div>
