//@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");


html, body, div, span, object, h1, h2, h3,
p, code, del, dfn, em, img, strong, u,
i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, table, caption, tbody, tfoot, thead,
tr, th, td, canvas, footer, header, hgroup, section, summary{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}


body {
  line-height: 1;
}

body {
  -webkit-text-size-adjust: none;
}


/* Basic */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f5f7fa;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #52575c;
  line-height: 1.75em;
  font-size: 14pt;
}

input, textarea, select {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #52575c;
  line-height: 1.75em;
  font-size: 15pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #52575c;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
}


.features {
  margin-bottom: 1.5em;
}

.feature {
  text-align: center;
}

header > p {
  display: block;
  color: #f35858;
  padding: 0.75em 0 1em 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

header.major {
  text-align: center;
}

/* Container */

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.row {
  margin-top: -50px;
  margin-left: -50px;
}

.row > * {
  padding: 50px 0 0 50px;
}

/* Image */

.image {
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  display: inline-block;
  outline: 0;
  border: 0;
}

.image img {
  display: block;
  width: 100%;
}

.image.fit {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 3em 0;
}

/* Actions */

ul.actions {
  padding-top: 1em;
  list-style: none;
  padding-left: 0;
}

ul.actions.major {
  text-align: center;
}

ul.actions li {
  display: inline-block;
  margin-left: 1em;
  padding-left: 0;
}

ul.actions li:first-child {
  margin-left: 0;
}

/* Divided */

ul.divided {
  list-style: none;
  padding-left: 0;
}

/* Menu */

ul.menu {
  list-style: none;
  padding-left: 0;
}

/* Form */

form .actions {
  padding-top: 0;
}

form label {
  display: block;
  font-weight: 300;
  color: #52575c;
  margin: 0 0 0.5em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  -webkit-appearance: none;
  display: block;
  background: #f9fbfe;
  border: solid 1px #d2d7dc;
  border-radius: 0.35em;
  width: 100%;
  line-height: 1.5em;
  padding: 0.75em;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
  background: #fff;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  -moz-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  display: inline-block;
  color: inherit;
  background: none;
  text-decoration: none;
  border: solid 1px #c2c7cc;
  border-radius: 0.35em;
  padding: 0.8em 2em 0.8em 2em;
  cursor: pointer;
  outline: 0;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  color: #f35858;
  border-color: rgba(243, 88, 88, 0.5);
}


/* Wrappers */

.wrapper {
  position: relative;
  background: #fff;
  overflow-x: hidden;
  padding: 6em 0 6em 0;
}

.image-wrapper {
  position: relative;
}

.image-wrapper .image {
  position: relative;
  z-index: 2;
}

.image-wrapper.first:before {
  content: '';
  display: block;
  width: 2000%;
  height: 100%;
  position: absolute;
  left: -1000%;
  top: 0;
  z-index: 1;
  box-shadow: inset 0px 0px 0px 1px #e8e8e8;
  background: #f6f8fb url("../../../assets/images/image-wrapper.svg");
}

#header-wrapper {
  position: relative;
  padding: 4em 0 2em 0;
  background-image: url("../../../assets/images/header.svg");
  background-image: url("../../../assets/images/overlay.png"), url("../../../assets/images/header.svg"), -moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("../../../assets/images/overlay.png"), url("../../../assets/images/header.svg"), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("../../../assets/images/overlay.png"), url("../../../assets/images/header.svg"), -ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("../../../assets/images/overlay.png"), url("../../../assets/images/header.svg"), linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-color: #f08c89;
  background-size: 100% 620%;
  background-size: 128px 128px, 100% 620%, auto;
  background-repeat: repeat, no-repeat, no-repeat;
}

.homepage #header-wrapper {
  padding: 10em 0 6em 0;
  background-size: 128px 128px, 100% 100%, auto;
}

#footer-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  border-top: solid 1px #c2c7cc;
  padding: 6em 0 6em 0;
  background-image: url("../../../assets/images/overlay.png"), url("../../../assets/images/footer.svg");
  background-size: 128px 128px,				100% 100%;
}

#hero {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 1;
}

#hero h2 {
  color: #fff;
  font-size: 3em;
}

#hero strong {
  color: inherit;
}

#hero header > span {
  color: #fff;
}
/* Copyright */

#copyright {
  position: relative;
  z-index: 1;
  text-align: center;
  border-top: solid 1px #d2d7dc;
  color: #a2a7ac;
  padding-top: 4em;
  margin-top: 6em;
}
