html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}

li {
  position: relative;
  counter-increment: list;
  max-width: 45rem;
  min-width: 15rem;
  margin: 2rem auto;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
  color: black;
}

a {
  color: black;
}

#header-wrapper {
  position: relative;
  padding: 4em 0 2em 0;
  background-image: url("../../assets/images/header.svg");
  background-image: url("../../assets/images/overlay.png"), url("../../assets/images/header.svg"), -moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("../../assets/images/overlay.png"), url("../../assets/images/header.svg"), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("../../assets/images/overlay.png"), url("../../assets/images/header.svg"), -ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("../../assets/images/overlay.png"), url("../../assets/images/header.svg"), linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-color: #f08c89;
  background-size: 100% 620%;
  background-size: 128px 128px, 100% 620%, auto;
  background-repeat: repeat, no-repeat, no-repeat;
}

#hero {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 1;
}

#hero h2 {
  color: #fff;
  font-size: 3em;
}

#hero strong {
  color: inherit;
}

#hero header > span {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #52575c;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
}
