<div id="header-wrapper">
  <!-- Hero -->
  <section id="hero" class="container">
    <header>
      <h2>Alle Billetter</h2>
    </header>
  </section>
</div>
<ul class="list-group" *ngIf="tickets">
  <li *ngFor="let ticket of tickets">
    <a href="#" class="list-group-item waves-light" routerLink="/Tickets/{{ticket.id}}">
      {{ticket.name}}
      <div>
        Pris: {{ticket.price}},- Billetter tilbage: {{ticket.ticketsRemaining - ticket.ticketsReserved}}
        <div>
          {{ticket.location}}
        </div>
      </div>
    </a>
  </li>
</ul>
<h4 *ngIf="!tickets">Loading.....</h4>
